/* If windows */
#header.win32,
#sidebar.win32 {
  background: white;
}

.toolbar.osx {
  margin-top: 64px;
}

/* --------------- */

.hide {
  display: none !important;
}

.alertMsg {
  display: table;
  height: 90vh;
  width: 100%;
}

.alertMsg > h3 {
  text-align: center;
  white-space: normal;
  padding: 0px 30px;
  vertical-align: middle;
  display: table-cell;
}

.selected {
	color: #fff !important;
  background-color: #116cd6 !important;
}

.icon.icon-play.playing {
  color: #007CFF;
  position: absolute;
  margin-right: -4px;
  padding-top: 4px;
  right: 0;
  font-size: 13px;
}

#app {
  -webkit-app-region: drag
}

#footer {
  -webkit-app-region: no-drag;
}

.toolbar {
  max-height: 52px;
  box-shadow: none;
  background: #DEDEDE;
}

.toolbar-header .title {
  display: none;
  margin-left: auto;
  margin-right: auto;
  text-overflow: ellipsis;
  max-width: 50%;
}

.nav-group {
  font-size: 13px;
}

.nav-group-title {
  font-weight: bold;
}

.nav-group-item .icon {
  font-size: 17px;
}

.icon-soundcloud {
  color: #eb4017 !important;
}

.icon-spotify {
  color: #1cd45e !important;
}

.icon-googlepm {
  width: 13px;
}

/*********** LAYOUT *********/

td {
  max-width: 100px;
}

@media screen and (max-width: 1000px){
  .albumCol {
    display: none;
  }
}

.pane-group {
  overflow-x: hidden; /* Resolving for bug when resizing X axis (little white space for scrollbar)*/
  display: block;
}

.window-content {
  -webkit-app-region: no-drag;
  overflow: inherit;
}

.sidebar {
  width: 20%;
  float: left;
  max-width: 95%;
  min-width: 5%;
  overflow-x: hidden;
  overflow-y: auto;
}

.sidebar.hide {
  width: 0;
}

.pane {
  height: 100%;
}

#trackList {
  background-color: white;
}

#empty_tracklist {
  position: relative;
  top: 25%;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 25px;
  font-weight: 300;
  color: #aaa;
}

.message {
  padding: 2px 10px;
  top: 0;
  height: 25px;
  width: 100%;
  border-bottom: solid 1px rgba(0, 0, 0, 0.08);
  background-color: rgba(255, 0, 0, 0.46);
}

.message.loading {
  color: #4F8A10;
  background-color: #DFF2BF;
}

.message.offline {
  color: #00529B;
  background-color: #BDE5F8;
}

.message.error {
  color: #D8000C;
  background-color: #FFBABA;
}

.retry-button {
  height: 20px;
  float: right;
  width: 45px;
  line-height: 0;
}

footer .toolbar-actions {
  margin: 0px;
  padding: 0px;
}

.footer-btn {
  font-size: 14px;
  color: #6b6b6b;
  padding: 0px 8px;
}

.footer-btn .icon {
  margin-bottom: 0px;
  font-size: 13px;
}

.footer-btn svg {
  fill: #6b6b6b;
  position: relative;
  top: 2px;
}

.footer-btn.active svg {
  fill: #007CFF;
}

.footer-btn.active {
  color: #007CFF;
}

/** Search Bar && results**/

.searchTab {
    overflow: hidden;
    text-align: center;
    font-size: 13px;
    margin: 10px 5%;
}
.searchTab:before,
.searchTab:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px; width: 50%;
    position: relative;
    vertical-align: middle;
}
.searchTab:before {
    right: 1.5em;
    margin-left: -50%;
}
.searchTab:after {
    left: 1.5em;
    margin-right: -50%;
}

.searchBar {
  -webkit-app-region: no-drag;
  position: relative;
  top: -16px;
  display: inline-block;
  margin-bottom: 0px;
  margin-right: 5px;
  vertical-align: middle;
}

.searchBar .icon-search {
  position: absolute;
  top: 3px;
  left: 10px;
}

.searchBar .form-control {
  width: 150px;
  min-height: inherit;
  height: 24px;
  background-color: #fcfcfc;
  border: 1px solid #BBB;
  padding: 5px 10px 5px 25px; /** Padding for the search icon */
  text-overflow: ellipsis;
}

.searchBar .form-control:focus {
  border-color: #6db3fd;
  box-shadow: inherit;
}


/* ==========================================================================
@NowPlaying
========================================================================== */


#player-metadatas {
  -webkit-app-region: no-drag;
  float: left;
  width: 100%;
  height: 64px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

#player-artist {
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  max-width: 50%;
  text-overflow: ellipsis;
  top: 12px;
  left: 100px;
  color: #797979;
}

#player-title {
  position: absolute;
  left: 100px;
  white-space: nowrap;
  overflow: hidden;
  top: -4px;
  max-width: 75%;
  text-overflow: ellipsis;
  font-size: 13px;
  color: black;
}

#player-cover {
  position: relative;
  border: 1px solid #949599;
  height: 64px;
  width: 64px;
  float: left;
}

#player-controls {
  -webkit-app-region: no-drag;
  top: 10px;
  height: 27px;
  position: relative;
  padding: 0 10px;
  overflow: hidden;
  width: 150px;
  display: flex;
  align-items: center;
}

#player-controls i {
  font-size: 22px;
  color: #565758;
}

#player_play-pause i {
  font-size: 37px;
}

#player-controls span {
  display: block;
  overflow: hidden;
  text-align: center;
  flex-grow: 1;
}

#player-timeleft {
  float: right;
  right: 0px;
  position: absolute;
  text-align: right;
  top: 16px;
  color: #5a5a5a;
  font-size: 11px;
}

#player-progress {
  position: absolute;
  margin: 0px 40px;
  border-radius: 10px;
  top: 35px;
  width: 88%;
  height: 4px;
  box-sizing: content-box;
  background: #CCCCCC;
  left: 64px;
  z-index: -1;
}

#player-progress-bar-container {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  height: 100%;
  padding: 25px 0px 5px 0px;
  margin-top: -10px;
  top: -5px;
  height: 25px;
}

#player-progress:hover #player-progress-bar::before {
  background: rgba(255, 255, 255, 0.5);
}

#player-progress:hover #player-progress-bar::after {
  transform: scale(1);
}

#player-progress #player-progress-bar {
  z-index: -1;
  position: relative;
  cursor: pointer;
  top: -14px;
  display: block;
  width: 100%;
  right: 100%;
  height: 4px;
  border-radius: 10px;
  background: rgb(0, 124, 255);
}

#player-progress #player-buffer-bar {
  z-index: -1;
  display: block;
  position: relative;
  top: -10px;
  width: 100%;
  right: 100%;
  height: 4px;
  border-radius: 10px;
  background: #BBB;
  /*transition: transform 0.5s ease-in;*/
}

#player-progress #player-progress-bar::before {
  content: '';
  position: absolute;
  display: block;
  height: 4px; width: 100%;
  background: rgba(0, 0, 0, 0.15);
  z-index: -1;
  transition: all 0.1s ease-out;
}

#player-progress #player-progress-bar::after {
  content: '';
  position: relative;
  top: -4px; left: 6px;
  display: block;
  float: right;
  height: 12px; width: 12px;
  background: white;
  border-radius: 50%;
  box-shadow: 0 0 2px 0 #000;
  transform: scale(0);
  transition: all 0.1s ease-out;
}

#player_favorite .icon {
  font-size: 14px;
}

#player_favorite.active,
#player_favorite.active .icon {
  color: #007CFF;
}

@media screen and (max-height: 150px) {
  #footer {
    display: none;
  }
}

@media screen and (max-width: 450px){

  #header {
    max-height: none !important;
    height: 86px;
  }

  .sidebar {
    display: none;
  }

  .searchBar {
    top: -16px;
    margin-right: 4%;
  }

  #player-metadatas {
    width: 100%;
    top: 0px;
  }

  #player-controls {
    position: relative;
    width: 50%;
    top: 50px;
  }
}


@media screen and (max-width: 300px){
  .searchBar {
    display: none;
  }

  #player-controls {
    width: 100%;
  }

  .durationCol {
    display: none;
  }
}


@media screen and (min-width: 450px) and (max-width: 650px){

  #player-controls {
    width: 130px;
  }

  .searchBar .form-control {
    width: 110px;
  }
}

.small-nav .nav-group-item {
  padding: 2px 5px 2px 15px;
}

.small-nav .nav-group-item .icon{
  display: none;
}


/*** VOLUME *****/

.player_volume_range {
  -webkit-appearance: none;
  width: 100px;
  display: inline-block;
  position: absolute;
  -webkit-transform: rotate(-90deg);
  left: -33px;
  margin-top: -70px;
  border-radius: 5px;
}

.player_volume_range::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 11px;
  width: 11px;
  border-radius: 6px;
  background: #565758;
  cursor: pointer;
  margin-top: -4px;
}

.player_volume_range::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: #989898;
  border-radius: 3px;
}

.player_volume_range:focus {
  outline: none;
}

/**** SPINNER **************************/


.full_screen {
  width: 100%;
  background-color: white;
  opacity: 0.95;
  z-index: 10000;
}

.full_screen > :first-child {
  text-align: center;
  position: fixed;
  top: 50%; left: 50%;
  margin-left: -37.5%;
  width: 75%;
  font-size: 20px;
}

.spinner {
  height: 40px;
  font-size: 10px !important;
}

.spinner > div {
  background-color: #333;
  height: 100%; width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

/** END OF SPINNER */

/***** scrollbar****/
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  background-color: #f5f5f4;
}

::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.5);
  -webkit-border-radius: 100px;
  background-clip: padding-box;
  border: 2px solid #f5f5f4;
  min-height: 10px;
}
::-webkit-scrollbar-thumb:active {
  background: rgba(0,0,0,0.61);
  -webkit-border-radius: 100px;
}

@keyframes blink {
  from, to { opacity: 1 }
  50% { opacity: 0 }
}

.blink {
  animation: blink 1s ease-in infinite;
}

/** Resizable handles **/

.vertical-resize {
  position: absolute;
  right: 0px;
  top: 0;
  cursor: col-resize;
  width: 8px;
  height: 100%;
}
