.dark.window,
.dark #sidebar {
	background-color: #444;
}

.dark #header {
	border-bottom: solid 1px #3d3d3d;
  background-color: #444;
}

.dark #footer {
	border-top: solid 1px #3d3d3d;
  background-color: #444;
}

.dark #player-cover {
	border: solid 1px #777;
}

.dark #player-title {
	color: #ddd;
}

.dark #player-artist,
.dark #player-timeleft {
	color: #aaa;
}

.dark i {
	color: #fff !important;
}

.dark #player_favorite.active .icon{
    color: #3a9aff !important;
}

.dark #player-progress {
    background: #555;
}

.dark #player-progress #player-buffer-bar {
    background: #777;
}

.dark #player-progress #player-progress-bar {
    background: #ddd;
}

.dark .searchBar .form-control {
	color: #eee;
    background-color: #666;
    border: 1px solid #3d3d3d;
}

/** sidebar ***/

.dark .sidebar h5 {
	color: #c0c0c0;
}

.dark .sidebar div:not(.message) > span {
	color: #d0d0d0;
}

.dark .nav-group-item.active {
	background-color: #666;
}

.dark .icon.icon-play.playing {
    color: #fff;
}

/** tracks list*/

.dark #trackList {
    background-color: #444;
    border-left: 1px solid #444;
}

.dark tr {
	background-color: #444;
	color: #bbb;
}

.dark tr:nth-child(even) {
	background-color: #4D4D4D;
}

.dark .selected {
    color: #fff !important;
    background-color: #aaaaaa !important;
}

/*** Scroll bar **/

.dark ::-webkit-scrollbar {
  width: 7px;
  background-color: #4d4d4d;
}

.dark ::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

.dark ::-webkit-scrollbar-thumb {
  background: #666;
  background-clip: padding-box;
  border: 1px solid #444;
  min-height: 10px;
}

.dark ::-webkit-scrollbar-thumb:active {
  background: rgba(0,0,0,0.61);
}

/** Coverflow ***/
.dark .coverflow-text{
	color:#ffffff;
}
.dark #coverflow,
.dark .coverflow-cell {
	background-color: rgb(68, 68, 68) !important;
}


/** Footer ***/
.dark .footer-btn {
    color: #aaa;
}

.dark .footer-btn svg {
    fill: #aaa;
}

.dark .footer-btn.active {
	color: #3a9aff;
}

.dark .footer-btn.active svg{
	fill: #3a9aff;
}
